@import "variables";

@mixin menu {
  position: absolute;
  background: var(--background);
  box-shadow: var(--shadow);
  color: white;
  border: 2px solid;
  margin: 0;
  padding: 40px;
  list-style: none;
  z-index: 99;
}

.header {
  display: flex; // changed from column to row
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: dotted var(--accent);
  white-space: nowrap;

  &__inner {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 20px;

    &:after {
      content: '';
      display: inline-block;
      margin-left: 10px;
    }

    a {
      flex: 0 0 auto;
      max-width: 100%;
    }
  }

  .menu {
    margin: 0;

    &__inner {
      display: flex;
      flex-wrap: nowrap;
      list-style: none;
      padding: 20px;
      margin: 0;
      align-items: center;

      li {
        &.active {
          color: var(--accent-alpha-70);
        }

        &:not(:last-of-type) {
          margin-right: 20px;
        }
      }
    }

    &__sub-inner {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;

      &:not(:only-child) {
        margin-left: 20px;
      }

      &-more {
        @include menu;
        top: 35px;
        left: 0;

        &-trigger {
          color: var(--accent);
          user-select: none;
          cursor: pointer;
        }

        li {
          margin: 0;
          padding: 5px;
          white-space: nowrap;
        }
      }
    }
  }
}
