:root {
  --accent: rgb(81,71,186);
  --accent-alpha-70: rgba(81,71,186,.7);
  --accent-alpha-20: rgba(81,71,186,.2);

  --background: #1D212C;
  --color: #FFFFFF;
  --border-color: rgba(255, 255, 255, .1);
}
